$gutter: .4rem
$offset: calc(0.5*$gutter)
// Typography
$font-size-std: 1.75rem
$line-height-factor: 1.25
$font-size-h1: 3.5rem
$font-size-h2: 3rem
$font-size-h3: 2.75rem
$font-size-h4: 2.5rem
$font-size-h5: $font-size-std
$font-size-h6: $font-size-std
// Colors
$color-01: #303030
$color-02: #F5F5F5
$color-03: #c088cf
$color-04: #592068
$color-05: #024600
// Navbar
$navbar-height: 6rem
// Breakpoint
$bkpt-menu-mobile: 960px
