// Breakpoint
$bkpt-desktop: 960px
$bkpt-sm: 270px
$bkpt-md: 675px
$bkpt-lg: 1200px
$bkpt-xlg: 1800px

// Typography
$font-size-std: var(--font-size-std)
$line-height-factor: 1.25
$font-size-h1: calc(2*$font-size-std)
$font-size-h2: calc(1.75*$font-size-std)
$font-size-h3: calc(1.5*$font-size-std)
$font-size-h4: calc(1.25*$font-size-std)
$font-size-h5: $font-size-std
$font-size-h6: $font-size-std

// Colors
$color-01: #303030
$color-02: #F5F5F5
$color-03: #c088cf
$color-04: #592068
$color-05: #024600
$color-error-01: #FFAFAF
$color-error-02: #4D0202
$color-warning-01: #f5e4ad
$color-warning-02: #5a4409

// Navbar
$navbar-height: var(--navbar-height)

// Footer
$footer-height: var(--footer-height)

// Main
$main-min-height: calc(100vh - $footer-height)

// General
$gutter: var(--gutter)
$offset: calc(0.5*$gutter)
